export PATH="$HOME/.config/emacs/bin:$HOME/.local/bin:$HOME/bin:$PATH"

export EDITOR=nvim

[ -f ~/.secrets ] && . ~/.secrets

eval "$(ssh-agent -s)"

# Set XDG_CONFIG_HOME for clean management of configuration files
export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:=$HOME/.config}"
export XDG_DATA_HOME="${XDG_DATA_HOME:=$HOME/.local/share}"
export XDG_CACHE_HOME="${XDG_CACHE_HOME:=$HOME/.cache}"

{{ if eq .chezmoi.os "darwin" -}}
# macOS / Homebrew
export PATH="/usr/local/mysql/bin:/opt/homebrew/opt/postgresql@18/bin:$PATH"
# export LDFLAGS="-L/opt/homebrew/opt/postgresql@18/lib"
# export CPPFLAGS="-I/opt/homebrew/opt/postgresql@18/include"
export HOMEBREW_NO_ENV_HINTS=true
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}

[ -x "$HOME/.local/bin/mise" ] && eval "$("$HOME/.local/bin/mise" activate zsh)"
